<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.dndConnectionString"
            connectionString="server=localhost;user id=tnt;database=dnd;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.dndConnectionString1"
            connectionString="server=localhost;user id=root;password=tnttnt;persistsecurityinfo=True;database=dnd"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>